<div class="main__inner">
  <div class="sidebar">
    <p class="sidebar__text">Sort:</p>
    <button class="sidebar__btn">by city</button>
    <button class="sidebar__btn">by company</button>
  </div>
  <!-- <app-profile></app-profile> -->
  <div class="users">
    <p class="users__title">List of Users</p>
    <p *ngIf="loading" class="loading">Loading...</p>
    <div class="users__items">
      <app-user class="users__item" *ngFor="let user of userService.users; let i=index" [user]=user></app-user>
    </div>
  </div>
</div>