
<div class="content__inner">
    <div class="content__box box-1">
        <ul class="content__keys">
            <li class="content__keys-item">
                <p class="key__text">Full Name:</p>
            </li>
            <li class="content__keys-item">
                <p class="key__text">City:</p>
            </li>
            <li class="content__keys-item">
                <p class="key__text">Company:</p>
            </li>
        </ul>
        <ul class="content__keys">
            <li class="content__keys-item">
                <p class="data__text">Full Name</p>
            </li>
            <li class="content__keys-item">
                <p class="data__text">City</p>
            </li>
            <li class="content__keys-item">
                <p class="data__text">Company</p>
            </li>
        </ul>
    </div>
    <div class="content__box">
        <a href="" class="detail">Detail</a>
    </div>
</div>