

.content__inner{
    background-color: #061125;
    color: #FFFF;
    max-width: 420px;
    border-radius: 8px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    .content__box{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .content__keys{
            padding-right: 50px;
            margin-top: 3px;  
            .content__keys-item{
                margin-bottom: 7px;
               .key__text, .data__text{
                margin: auto 0px;
               }
               .key__text{
                color: #72B63B;
               }
            }
        }
        .detail{
            display: inline-block;
            position: relative;
            top: 45px;
            color: #72B63B;
        }
    }
}