<section class="main">
  <div class="container">
    <div class="main__inner">
      <div class="sidebar">
        <div class="sidebar__content">
          <p class="sidebar__text">Sort:</p>
          <button class="sidebar__btn">by city</button>
          <button class="sidebar__btn">by company</button>
        </div>
      </div>
      <div class="users">
        <div class="users__content">
          <h1 class="users__title"></h1>
          <ul class="users__list">
            <li class="users__list-item">
              <app-user></app-user>
            </li>
            <li class="users__list-item">
              <app-user></app-user>
            </li>
            <li class="users__list-item">
              <app-user></app-user>
            </li>
            <li class="users__list-item">
              <app-user></app-user>
            </li>
            <li class="users__list-item">
              <app-user></app-user>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>