<div class="profile">
    <div class="profile__inner">
        <div class="header">
            <p class="header__text">User profile</p>
            <button class="edit__btn">
                Edit
            </button>
            <a href="" routerLink="/" class="back__link">Back</a>
        </div>
        <div class="info">
            <div class="info__item">
                <p class="info__text">Name</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">User name</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">E-mail</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">Street</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">City</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">Zip code</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">Phone</p>
                <input type="text" class="info__input">
            </div>
            <div class="info__item">
                <p class="info__text">Website</p>
                <input type="text" class="info__input">
            </div>
            <div class="comment__item">
                <p class="info__text">Comment</p>
                <input type="text" class="comment__input">
            </div>
        </div>
        <button class="send__btn">
            Send
        </button>
    </div>
</div>